body{
	background: #13547a ;
}

td {
	background: white;
	height: 100px;
	width: 100px;
}

.q1{
	background: gray;
	height: 150px;
	width: 150px;
}

.nen{
	opacity: 0%;
}

.container{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
}

.tbl{
		position: absolute;
		top: -250px;
		transform: scale(55%);
}

.q3{
 
}

.kaspi{
padding-left: 35px;
	
}

.halyk{
padding-left: 30px;
	
}

.ANT{
	padding-left: 13px;
	transform: scale(90%);
}


.wopros{
	padding-left: 30px;
}

.wopros1{
	padding-left: 30px;

}

.wopros2{
	padding-right: 25px;
	transform: rotate(180deg);
}

.wopros3{
	padding-right: 25px;
	transform: rotate(180deg);
}